@media screen and (min-width:701px) and (max-width:1570px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* navbar */
    .header {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        border-radius: 70px;
        background: #FAFAFA;
        height: 100px;
        padding: 0px 10px;
        justify-self: center;
    }

    .logo img {
        width: 100px;
    }

    .navbar li {
        list-style: none;
    }

    .navbar li a {
        text-decoration: none;
        color: rgba(0, 0, 1);
    }

    .logo img {
        width: 100px;
    }

    .btn button {
        width: 90px;
        height: 30px;
        border-radius: 40px;
        background: #fff;
        border: 1px solid #0000004b;
        font-size: 14px;
        font-family: poppins;
    }

    .bars {
        display: none;
    }

    .navbar ul {
        width: 350px;
        background: #fff;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: poppins;
        font-size: 15px;
    }

    .navbar {
        padding-left: 0px;
    }

    .service {
        font-size: 16px;
        font-family: poppins;

    }

    .gallery1 {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

    }

    /* cards */
    .msgicon h1 {
        text-align: center;
        padding: 30px 0;
        font-size: 35px;
        font-family: poppins;
    }

    .msgicon h4 {
        text-align: center;
        font-size: 22px;
        padding-top: 50px;
        font-family: poppins;

    }

    .cards {
        display: flex;
        width: 95%;
        padding-top: 50px;
        justify-self: center;
         gap: 20px;

    }

    .msg i {
        font-size: 50px;
    }

    .msg {

        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 250px;
        font-family: poppins;
    }

}

@media screen and (min-width:701px) and (max-width:950px) {
    .main img {
        width: 380px;
        height: 550px;

    }

    .content p {
        font-size: 16px;
        width: 50%;
    }

    .inpt input {
        width: 200px;
        height: 40px;
        font-size: 10px;

    }

    .inpt {
        position: relative;

    }

    .inpt button {
        width: 50px;
        height: 40px;
        right: 250px;
        font-size: 10px;
    }

    /* last section */
    .end img {
        width: 380px;
        height: 550px;
    }

    .content2 p {
        font-size: 16px;
        width: 60%;
    }

    .inpT input {
        width: 200px;
        height: 40px;
        font-size: 10px;

    }

    .inpT {
        position: relative;

    }

    .inpT button {
        width: 50px;
        height: 40px;
        right: 250px;
        font-size: 10px;
    }
}