@font-face {
    font-family: poppins;
    src: url(Fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 95%;
    height: 500px;
    background: linear-gradient(to right, rgba(193, 222, 232, 1), rgba(251, 217, 185, 1));
    justify-self: center;
    border-radius: 10px;
    font-family: poppins;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 500px;
    height: 500px;
    padding-top: 80px;
    padding-left: 50px;
    color: rgba(0, 0, 1);
}

.content h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.content h6 {
    font-size: 16px;
}

.inpt input {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
}

.inpt {
    position: relative;
}

.inpt button {
    width: 80px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    font-size: 12px;
    position: absolute;
    right: 150px;
}

.content p {
    font-size: 16px;
}

.main img {
    width: 500px;
    height: 550px;
    position: absolute;
    right: 0;
}

.gallery {
    width: 95%;
    justify-self: center;
    padding-top: 50px;
    font-family: poppins;
}

.gallery h3 {
    font-size: 18px;
}

.gallery h1 {
    font-size: 35px;
    padding: 20px 0;
}

.villas {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.pics {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 10px;
    width: 400px;
}

.pics img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.pics h1 {
    font-size: 22px;
}

.pics p img {
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

/* another section */
.state {
    width: 95%;
    justify-self: center;
    font-family: poppins;
}

.state h1 {
    text-align: center;
    width: 50%;
    font-size: 40px;
    justify-self: center;
}

.gallery1 {
    display: flex;
}

.content1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
    flex-wrap: wrap;
}

.content1 p {
    width: 67%;
}

.imag {
    width: 50%;
    padding: 30px 30px;
}

.imag img {
    width: 100%;
    height: 420px;
    flex-wrap: wrap;
}

.content1 span button {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background: #000;
    color: #fff;
}

span {
    padding-right: 60px;
}

.content1 button {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.txt {
    display: flex;
    gap: 30px;
    font-family: poppins;
    width: 300px;
}

.txt h1 {
    font-size: 50px;
    font-weight: bold;
}

.txt p {
    text-align: center;
}

/* other section */
.footer {
    width: 95%;
    height: 500px;
    background: linear-gradient(to right, rgba(193, 222, 232, 1), rgba(251, 217, 185, 1));
    justify-self: center;
    border-radius: 10px;
    font-family: poppins;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
}

.content2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 500px;
    height: 500px;
    padding-top: 80px;
    padding-left: 50px;
    color: rgba(0, 0, 1);
}

.content2 h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.inpT input {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
}

.inpT {
    position: relative;
}

.inpT button {
    width: 80px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    font-size: 12px;
    position: absolute;
    right: 150px;
}

.content2 p {
    font-size: 18px;
}

.end img {
    width: 500px;
    height: 550px;
    position: absolute;
    right: 0;
}

/* moible css */

@media screen and (min-width:200px) and (max-width:700px) {

    /* navbar */
    .header {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        border-radius: 70px;
        background: #FAFAFA;
        height: 50px;
        padding: 0px 20px;
        justify-self: center;
    }

    .logo img {
        width: 50px;
    }

    .navbar {
        display: none;
    }

    .service {
        display: none;
    }

    .btn button {
        display: none;
    }

    /* hero section */
    .hero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 800px;
        position: relative;
    }

    .main img {
        width: 400px;
        position: absolute;
        bottom: 0;
        padding-top: 30px;
    }

    .content h1 {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .content h6 {
        font-size: 10px;
    }

    .inpt input {
        width: 200px;
        height: 25px;
        border-radius: 30px;
        border: none;
        padding-left: 10px;
    }

    .inpt {
        position: relative;

    }

    .content p {
        font-size: 8px;
    }

    .inpt button {
        width: 50px;
        height: 25px;
        border-radius: 30px;
        border: none;
        color: #fff;
        background: #000;
        font-size: 11px;
        position: absolute;
        right: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: 150px;
        height: 500px;
        padding-top: 80px;
        padding-left: 10px;
        color: rgba(0, 0, 1);
    }

    /* cards */
    .msgicon h1 {
        text-align: center;
        padding: 10px 0;
        font-size: 25px;
    }

    .msgicon h4 {
        text-align: center;
        font-size: 18px;
        padding-top: 20px;
    }

    .msgicon {
        display: flex;
        flex-direction: column;
        font-family: poppins;
        justify-self: center;
        width: 95%;
        height: 700px;
        font-family: poppins;
    }

    .cards {
        display: flex;
        flex-direction: row;
        height: 200px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .msg {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 170px;
    }

    /* content with image */
    .state h1 {
        text-align: center;
        width: 50%;
        font-size: 25px;
        justify-self: center;
    }

    .gallery1 {
        display: flex;
        width: 95%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content1 p {
        font-size: 10px;
    }

    .content1 span button {
        width: 70px;
        height: 20px;
        font-size: 10px;
        border-radius: 10px;
        background: #000;
        color: #fff;
    }

    span {
        padding-right: 30px;
    }

    .content1 button {
        width: 70px;
        height: 20px;
        font-size: 10px;
        border-radius: 10px;
        background: #fff;
        color: #000;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .imag {
        width: 50%;
        justify-self: center;
    }

    .imag img {
        width: 100%;
        height: 350px;
        flex-wrap: wrap;
    }

    /* footer */
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 800px;
        position: relative;
    }

    .end img {
        width: 400px;
        position: absolute;
        bottom: 0;
        padding-top: 30px;
    }

    .content2 h1 {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .inpT input {
        width: 200px;
        height: 25px;
        border-radius: 30px;
        border: none;
        padding-left: 10px;
    }

    .inpT {
        position: relative;
    }

    .content2 p {
        font-size: 8px;
    }

    .inpT button {
        width: 50px;
        height: 25px;
        border-radius: 30px;
        border: none;
        color: #fff;
        background: #000;
        font-size: 11px;
        position: absolute;
        right: 0;
    }

    .content2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: 150px;
        height: 500px;
        padding-top: 80px;
        padding-left: 10px;
        color: rgba(0, 0, 1);
    }
}